extends layout

block content
	h1=title
	p Welcome to #{title}

	h1.display-1 Big title
	.other
		h1#first Big title
		h1 Big title
		h1 Big title
		h1 Big title
		h1 Big title
	.icon
		i.fas.fa-dog.fa-2x
	
	
