extend layout

block content
		h1 #{title}
		p #{about}
		form(method="POST" action='/login')
			input#email(type='text', placeholder="Email")

			input#password(type='password', placeholder="Password")
			
			#Save
				button.btn Login
				button.btn Register
				
			br
			#Save
				button.btn(type="reset") Reset