extend layout
	
block styles
	link(rel='stylesheet', href="/stylesheets/login.css")

block content
	#container.container-fluid
		.row
			//- Splitting page into 3 columns to center logins (size is out of 12)
				Pug id notation: #<idName>
			//- Left side for register/login button
			#leftCol.col-2
				#leftInfoBar.row
					form(action="/register" method="GET")
						button.btn.text-nowrap 
							i.fas.fa-door-open
							d-none.d-sm-inline  Register
			//- Middle for login input form
			#middleCol.col-8
				//- Welcome title
				#middleInfoBar.row
					h1.text-nowrap=about
				//- Input area
				#input.row
					form(action="/login" method="POST")
						.form-group
							label 
							.input-group
								.input-group-prepend
									.input-group-text Username
								input.form-control(type="email", name="email" placeholder="Enter your username")
						.form-group
							.input-group
								.input-group-prepend
									.input-group-text Password
								input.form-control(type="password", name="password" placeholder="Enter your password")
						br
						.form-group
							button.btn=title 
								i.fas.fa-door-open
				//- Middle bottom space placeholder
				#middleInfoBar.row
			//- Empty right column
			#rightCol.col-2