extend layout

block content
		h1 #{title}
		p #{about}
		form(method="POST" action='/login')
			input#username(name="username", type='text', placeholder="Username")

			input#password(name="password", type='text', placeholder="Password")

			#Save
				button Login 
			
			button Register
				
		br
		#Save
			button(type="reset") Reset