extend layout

block content
	h1=title
	p #{about}
	form(method="get" action="/login")
		button Login
	form(method="POST" action='/register')
		input#username(type='text', name="username", placeholder="Username")
		input#password(type='text', name="password", placeholder="Password")
		br
		input#customer(type='radio', name="userType", value="customer", checked)
		label(for="customer") Customer
		input#barber(type='radio', name="userType", value="barber")
		label(for="barber") Barber
		br
		button(type="submit") Register